USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 12/26/2024 6:42:24 PM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'D:\Database\DATA\BookStore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'D:\Database\DATA\BookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Author] [nvarchar](100) NULL,
	[Publisher] [nvarchar](100) NULL,
	[Price] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[CategoryID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[IsDel] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](100) NULL,
	[MainImage] [nvarchar](255) NULL,
	[AdditionalImages] [nvarchar](max) NULL,
	[PageCount] [int] NULL,
	[Size] [nvarchar](50) NULL,
	[Weight] [decimal](18, 2) NULL,
	[Promotion] [nvarchar](30) NULL,
	[PromotionEndDate] [datetime] NULL,
	[BookCoverTypeId] [int] NULL,
	[LanguageId] [int] NULL,
	[PublishYear] [int] NULL,
 CONSTRAINT [PK__Books__3DE0C227509BC471] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookCoverType]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookCoverType](
	[BookCoverTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_BookCoverType] PRIMARY KEY CLUSTERED 
(
	[BookCoverTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](100) NULL,
	[IsDel] [bit] NULL,
	[ParentCategoryID] [int] NULL,
 CONSTRAINT [PK__Categori__19093A2BE21B8E70] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](100) NULL,
	[Email] [nvarchar](30) NULL,
	[PaymentMethod] [nvarchar](60) NULL,
	[Phone] [nvarchar](15) NULL,
	[ShippingAddress] [nvarchar](100) NULL,
	[DeliveredDate] [datetime] NULL,
	[RecipientName] [nvarchar](50) NULL,
 CONSTRAINT [PK__Orders__C3905BAF2225F30A] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[BookID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK__OrderDet__D3B9D30CB3022B7C] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK__Roles__8AFACE3AE06EA5E2] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](30) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyBy] [nvarchar](max) NULL,
	[ModifyDate] [datetime2](7) NULL,
	[IsDel] [bit] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK__Supplyer] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierBook]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierBook](
	[SupplierId] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[SupplyDate] [datetime] NULL,
	[SupplyPrice] [decimal](18, 2) NULL,
	[Quantity] [int] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifyBy] [nvarchar](100) NULL,
	[ModifyDate] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
	[SupplierBookID] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SupplierBook] PRIMARY KEY CLUSTERED 
(
	[SupplierBookID] ASC,
	[SupplierId] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/26/2024 6:42:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[IdNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Phone] [nvarchar](15) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [nvarchar](100) NULL,
	[RoleID] [int] NULL,
	[UserName] [nvarchar](100) NULL,
	[Image] [nvarchar](255) NULL,
	[RefreshToken] [nvarchar](255) NULL,
	[RefreshTokenExpiryTime] [datetime] NULL,
	[IsDel] [bit] NULL,
 CONSTRAINT [PK__Customer__A4AE64B80DDF41BD] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241027045137_initial', N'8.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241027061640_renameCustomerTableAndAddIdNumber', N'8.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241027062704_DeleteEmployeeTable', N'8.0.10')
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[BookCoverType] ON 

INSERT [dbo].[BookCoverType] ([BookCoverTypeId], [Name]) VALUES (1, N'Bìa mềm')
INSERT [dbo].[BookCoverType] ([BookCoverTypeId], [Name]) VALUES (2, N'Bìa cứng')
INSERT [dbo].[BookCoverType] ([BookCoverTypeId], [Name]) VALUES (3, N'Sách khổ lớn')
SET IDENTITY_INSERT [dbo].[BookCoverType] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsDel], [ParentCategoryID]) VALUES (1, N'Văn học', N'<p>string</p>', CAST(N'2024-10-29T22:52:30.120' AS DateTime), N'Admin', CAST(N'2024-11-17T20:08:44.910' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsDel], [ParentCategoryID]) VALUES (2, N'Tiểu thuyết', N'null', CAST(N'2024-10-29T22:58:33.780' AS DateTime), NULL, CAST(N'2024-11-17T20:09:02.523' AS DateTime), NULL, 0, 1)
INSERT [dbo].[Category] ([CategoryID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [IsDel], [ParentCategoryID]) VALUES (3, N'Ngôn tình', N'<p>null</p>', CAST(N'2024-10-29T22:58:56.407' AS DateTime), NULL, CAST(N'2024-11-17T20:09:39.177' AS DateTime), NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([LanguageId], [Name]) VALUES (1, N'Tiếng Việt')
INSERT [dbo].[Language] ([LanguageId], [Name]) VALUES (2, N'Tiếng Anh')
INSERT [dbo].[Language] ([LanguageId], [Name]) VALUES (3, N'Tiếng Pháp')
SET IDENTITY_INSERT [dbo].[Language] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserId], [OrderDate], [TotalAmount], [Status], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [Email], [PaymentMethod], [Phone], [ShippingAddress], [DeliveredDate], [RecipientName]) VALUES (1, NULL, CAST(N'2024-10-28T12:33:27.163' AS DateTime), CAST(1.00 AS Decimal(18, 2)), N'1', CAST(N'2024-10-28T12:33:27.163' AS DateTime), NULL, NULL, N'1', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Order] ([OrderID], [UserId], [OrderDate], [TotalAmount], [Status], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [Email], [PaymentMethod], [Phone], [ShippingAddress], [DeliveredDate], [RecipientName]) VALUES (5, NULL, CAST(N'2024-11-06T02:42:54.697' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'string', CAST(N'2024-11-06T02:42:54.697' AS DateTime), N'string', CAST(N'2024-11-06T02:42:54.697' AS DateTime), N'string', N'203nghia@gmail.com', N'string', N'0923718318', N'string', NULL, NULL)
INSERT [dbo].[Order] ([OrderID], [UserId], [OrderDate], [TotalAmount], [Status], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [Email], [PaymentMethod], [Phone], [ShippingAddress], [DeliveredDate], [RecipientName]) VALUES (6, NULL, CAST(N'2024-11-06T02:42:54.697' AS DateTime), CAST(0.00 AS Decimal(18, 2)), N'string', CAST(N'2024-11-06T02:42:54.697' AS DateTime), N'string', CAST(N'2024-11-06T02:42:54.697' AS DateTime), N'string', N'203nghia@gmail.com', N'string', N'0923718318', N'string', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [BookID], [Quantity], [Price]) VALUES (1, 10, 71, 2, CAST(156000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [BookID], [Quantity], [Price]) VALUES (2, 10, 66, 4, CAST(128000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [BookID], [Quantity], [Price]) VALUES (3, 10, 67, 3, CAST(184000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierId], [Name], [Phone], [Email], [Address], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [IsDel], [Note]) VALUES (1, N'NXB Trẻ', N'0923818338', N'203nghiapham@gmail.com', N'Khu 3, Hoàng Cườn Thanh Ba ', N'Nghia Phạm', CAST(N'2024-11-03T20:22:17.920' AS DateTime), N'string', CAST(N'2024-12-01T21:16:53.8340508' AS DateTime2), 0, N'')
INSERT [dbo].[Supplier] ([SupplierId], [Name], [Phone], [Email], [Address], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [IsDel], [Note]) VALUES (2, N'Nhà xuất bản văn học', N'0923718318', N'', N'Số 1....', N'Nghia Phạm', CAST(N'2024-11-19T12:22:36.007' AS DateTime), NULL, CAST(N'2024-12-01T20:41:06.8738952' AS DateTime2), 0, N'')
INSERT [dbo].[Supplier] ([SupplierId], [Name], [Phone], [Email], [Address], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [IsDel], [Note]) VALUES (3, N'Nhã Nam', N'0983718317', N'', N'33333333', N'Nghĩa Phạm', CAST(N'2024-11-19T12:23:03.100' AS DateTime), NULL, CAST(N'2024-12-19T00:16:37.8786969' AS DateTime2), 0, N'<p>2223232323</p>')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
INSERT [dbo].[SupplierBook] ([SupplierId], [BookID], [SupplyDate], [SupplyPrice], [Quantity], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [Note], [SupplierBookID], [DiscountAmount]) VALUES (2, 57, CAST(N'2024-11-25T00:00:00.000' AS DateTime), CAST(10.00 AS Decimal(18, 2)), 10, NULL, CAST(N'2024-11-25T10:12:28.803' AS DateTime), NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[SupplierBook] ([SupplierId], [BookID], [SupplyDate], [SupplyPrice], [Quantity], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [Note], [SupplierBookID], [DiscountAmount]) VALUES (2, 59, CAST(N'2024-11-25T00:00:00.000' AS DateTime), CAST(20.00 AS Decimal(18, 2)), 20, NULL, CAST(N'2024-11-25T10:12:28.803' AS DateTime), NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[SupplierBook] ([SupplierId], [BookID], [SupplyDate], [SupplyPrice], [Quantity], [CreatedBy], [CreatedDate], [ModifyBy], [ModifyDate], [Note], [SupplierBookID], [DiscountAmount]) VALUES (3, 57, CAST(N'2024-11-25T00:00:00.000' AS DateTime), CAST(10.00 AS Decimal(18, 2)), 9, NULL, CAST(N'2024-11-25T10:19:52.897' AS DateTime), NULL, NULL, NULL, 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [IdNumber], [Email], [PasswordHash], [Phone], [Address], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [RoleID], [UserName], [Image], [RefreshToken], [RefreshTokenExpiryTime], [IsDel]) VALUES (2, N'string1', N'Phạm', N'212121212', N'ngh@gmail.com', N'$2a$11$0bCylSPcsGFY1yiFPdwvsuYPgq3muf0XpejNDF9yTY50NN9NJmiA.', N'string1', N'string1', CAST(N'2024-10-27T23:07:32.083' AS DateTime), NULL, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [IdNumber], [Email], [PasswordHash], [Phone], [Address], [CreatedDate], [CreatedBy], [ModifyDate], [ModifyBy], [RoleID], [UserName], [Image], [RefreshToken], [RefreshTokenExpiryTime], [IsDel]) VALUES (3, N'nghiadz', NULL, NULL, N'203nghiapham2@gmail.com', N'$2a$11$rhTVp2NUMQlnIUE1h33vq.o0MvX63N2oOgUjQDV1UY.9mSZBV7Hvm', N'string', N'string', CAST(N'2024-10-28T11:51:16.817' AS DateTime), NULL, NULL, NULL, 3, N'203nghiapham2@gmail.com', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_Book_BookCoverTypeId]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Book_BookCoverTypeId] ON [dbo].[Book]
(
	[BookCoverTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Book_LanguageId]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Book_LanguageId] ON [dbo].[Book]
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_CategoryID]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_CategoryID] ON [dbo].[Book]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId] ON [dbo].[Order]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_BookID]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_BookID] ON [dbo].[OrderDetail]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderDetails_OrderID]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_OrderID] ON [dbo].[OrderDetail]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierBook_BookID]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierBook_BookID] ON [dbo].[SupplierBook]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierBook_SupplierId]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierBook_SupplierId] ON [dbo].[SupplierBook]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_RoleID]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_RoleID] ON [dbo].[User]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D1053471732474]    Script Date: 12/26/2024 6:42:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ__Customer__A9D1053471732474] ON [dbo].[User]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDel]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDel]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Supplier] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SupplierBook] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[SupplierBook] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDel]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK__Books__CategoryI__3E52440B] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK__Books__CategoryI__3E52440B]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_BookCoverType_BookCoverTypeId] FOREIGN KEY([BookCoverTypeId])
REFERENCES [dbo].[BookCoverType] ([BookCoverTypeId])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_BookCoverType_BookCoverTypeId]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Language_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([LanguageId])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Language_LanguageId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Orders__Customer__5DCAEF64] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Orders__Customer__5DCAEF64]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__BookI__619B8048] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__BookI__619B8048]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__60A75C0F] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK__OrderDeta__Order__60A75C0F]
GO
ALTER TABLE [dbo].[SupplierBook]  WITH CHECK ADD  CONSTRAINT [FK_SupplierBook_Books_BookID] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[SupplierBook] CHECK CONSTRAINT [FK_SupplierBook_Books_BookID]
GO
ALTER TABLE [dbo].[SupplierBook]  WITH CHECK ADD  CONSTRAINT [FK_SupplierBook_Supplier_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([SupplierId])
GO
ALTER TABLE [dbo].[SupplierBook] CHECK CONSTRAINT [FK_SupplierBook_Supplier_SupplierId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__Customers__RoleI__534D60F1] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__Customers__RoleI__534D60F1]
GO
USE [master]
GO
